<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.plum.manager.dao.TestDao" >

    <select id="searchTest" resultType="java.lang.String">
        select
        	ORDER_NO
        from order_temp
    </select>
   
</mapper>